body {
  background-color: #f4f5f5;
  padding-top: 5%;
}
.navbar {
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  border-radius: 10px;
}
#navbar-title li:hover {
  background-color: darkgray;
}
#navbar-search {
  padding-right: 5%;
}
#navbar-search-button {
  border: 0;
}
#navbar-search-text {
  width: 125%;
}
#navbar-search-text:focus {
  border-color: darkturquoise;
}
.container {
  width: 70%;
}
#left {
  background-color: white;
  height: 1000px;
}
#right #list-authors {
  border: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
#right #list-authors a {
  text-decoration: none;
}
#right #list-authors #list-authors-title {
  background-color: white ;
  color: #6b6b6b;
  font-size: 20px;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
#right #list-authors #authors {
  border: 0;
}
#right #list-authors #authors:hover {
  background-color: hsla(0, 0%, 84.7%, 0.1);
}
#right #list-authors #complete-list {
  border-top: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
