body {
  background-color: #f4f5f5;
  padding-top: 5%;
}
.navbar {
  padding-left: 10%;
  padding-right: 10%;
  background-color: white;
  border-radius: 10px;
}
.navbar #web-name {
  padding-top: 1%;
}
.navbar #web-name a {
  font-size: 125%;
  color: #D14E5B;
  text-decoration: none;
}
.navbar #web-name h3 {
  margin-top: 0;
}
.navbar #navbar-title-left a {
  padding-top: 27%;
  font-size: 125%;
  border: 0;
  background-color: transparent;
}
.navbar #navbar-title-left a:hover {
  color: #D14E5B;
}
.navbar #navbar-title-right a {
  padding-top: 27%;
  font-size: 125%;
  border: 0;
  background-color: transparent;
}
.navbar #navbar-title-right a:hover {
  color: #D14E5B;
}
.navbar #navbar-title-right a {
  font-size: 100%;
  padding-top: 16%;
}
.navbar #navbar-title-right button {
  font-size: 100%;
  padding-top: 27% ;
  border: 0;
  background-color: transparent;
}
.navbar #navbar-title-right button:hover {
  color: #D14E5B;
}
.navbar #navbar-search {
  padding-right: 5%;
}
.navbar #navbar-search-button {
  border: 0;
}
.navbar #navbar-search-text {
  width: 125%;
}
.navbar #navbar-search-text:focus {
  border-color: darkturquoise;
}
.container {
  width: 70%;
}
#left {
  background-color: white;
  height: auto;
  padding: 0%;
}
#left #context .list-group-item {
  border: 1px solid hsla(0, 0%, 59.2%, 0.1);
  padding-left: 3%;
  padding-right: 3%;
}
#left #context .list-group-item:hover {
  background-color: hsla(0, 0%, 84.7%, 0.1);
}
#left #context .list-group-item a {
  color: black;
}
#left #context .list-group-item p {
  color: #b2bac2;
  width: 100%;
}
#left #context .list-group-item span {
  color: #b2bac2;
  font-size: 90%;
}
#left #context .list-group-item button {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 2px solid hsla(0, 0%, 59.2%, 0.1);
}
#right #list-authors {
  border: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
#right #list-authors a {
  text-decoration: none;
}
#right #list-authors #list-authors-title {
  background-color: white ;
  color: #6b6b6b;
  font-size: 20px;
  border-bottom: 1px solid hsla(0, 0%, 59.2%, 0.1);
  text-align: center ;
}
#right #list-authors #authors {
  text-align: center;
  border: 0;
}
#right #list-authors #authors a {
  width: 100%;
}
#right #list-authors #authors:hover {
  background-color: hsla(0, 0%, 84.7%, 0.1);
}
#right #list-authors #complete-list {
  text-align: center;
  border-top: 1px solid hsla(0, 0%, 59.2%, 0.1);
}
#right #list-authors #complete-list a {
  color: #007fff;
}
#right .pictures {
  padding-bottom: 8%;
}
#right .pictures img {
  max-width: 100%;
  max-height: 100%;
}
#register {
  padding-top: 6%;
}
#register .modal-content {
  width: 65%;
  margin-left: 20%;
}
#register .text-right {
  padding-bottom: 5%;
  padding-top: 3%;
}
#register input {
  width: 80%;
}
#login {
  padding-top: 6%;
}
#login .modal-content {
  width: 65%;
  margin-left: 20%;
}
#login .text-right {
  padding-bottom: 5%;
  padding-top: 3%;
}
#login input {
  width: 80%;
}
